/* Jumbotron, Header */
/* Nav Bar */
#icon {
    margin-top: 0;
}

.nav {
    text-align: right;
    margin-top: 10px;
}

.nav a {
    margin: 0 8px;
}

#navbar {
    padding-top: 15px;
}
/* --------------- */
.heading {
    text-align: center;
}

h1 {
    margin-top: 0;
}

.jumbotron {
    background-image: url("../images/laptop-coding.jpeg");
    background-size: cover;
    background-position: center;
    /* height: 500px; */
    padding-bottom: 50px;
}

.jumbotron * {
    color: white;
}
/* --------------- */

/* First Section */
.firstSection {
    /* display: inline; */
    text-align: center;
    padding-top: 50px;
    padding-bottom: 75px;
    /* margin-bottom: 20px; */
}

hr {
    width: 10%;
    height: 2px;
    border: 0;
    display: inline-block;
    background: black;
}

#about {
    margin-bottom: 50px;
}

.aboutTitle {
    display: inline-block;
}

#aboutText {
    width: 60%;
    margin: auto;
}

#textFiller {
    line-height: 1.3em;
    letter-spacing: .2em;
}

/* --------------- */

/* Second Sectiion */
.row {
    margin-bottom: 0;
}

.secondSection {
    background-color: lightgray;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 75px;
}

#projects {
    margin-bottom: 50px;
}

.projectTitle {
    display: inline-block;
}

#projectDisplay {
    width: 80%;
    margin: auto;
}

.projectImage {
    max-width: 300px;
    max-height: 150px;
    filter: grayscale(100%);
}

/* --------------- */

/* Footer Section */
.footerSection {
    text-align: center;
    background-color: rgb(44, 43, 43);
    padding: 50px;
    bottom: 0;
    position: relative;
    width: 100%;
}

.footerSection h5 {
    margin-top: 0;
}

.footerSection * {
    color: white;
}

.footerNav {
    margin: 25px;
}

.footerNav a {
    margin: 0 20px;
}

#copyright {
    font-size: .7em;
    color: slategray;
}

.socialMediaIcons {
    margin-top: 20px;
}

.socialMediaIcons a {
    margin: 0 10px;
}
/* ---------------- */